body{
    background-color: ghostwhite;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 4.7% auto;
    width:60%;
    height: 80%;
    border: 0.5px solid royalblue;
    direction: rtl;
    padding: 10px;
}

br{
    line-height: 200%;
}

.mainHeader{
    color: mediumblue;
}

.subHeader{
    color: royalblue;
    font-size: 13px;
}

#tabs{
    border: 1px solid lightgray;
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 30%;
    height: 30px;
    border-radius: 20px;
}

